.admin-header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 10px;
  background-color: black;
  color: white;
  height: 40px;
  padding-left: 10px;
}
.admin-link-displayorder,
.admin-link-inputproducts {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.active {
  text-decoration: underline;
}
.admin-interaction-container {
  padding: 30px;
}
